.root{
    -fx-background-color: #171616;
}

#textlabel{
    /*-fx-text-fill: "white";*/
    -fx-font-size: 20;
    /*-fx-animated: "Whirl";*/
}

#title{
    /*-fx-text-fill: "white";*/
    -fx-font-size: 30;
    -fx-border-color: #b94141;
}
.label{
    -fx-text-fill: "white";
    -fx-font-family: "Dubai Light";
    -fx-alignment: center;
}
